<div class="graph-modal">
    <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="thank">
        <div class="graph-modal__box">
            <button class="js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
            <div class="graph-modal__content">
                <span class="graph-modal__title title">
                    Благодарим за ваш запрос. Наш менеджер свяжется с вами в ближайшее время
                </span>
                <div class="graph-modal__bg" style="background-image: url('img/modal-bg.jpg');"> </div>
            </div>
        </div>
    </div>
</div>