.tour {
	&__wrapper {
		display: flex;
		justify-content: space-between;

        @include mq('tablet') {
            flex-direction: column;
        }
	}

	&__content {
		max-width: 40%;
		margin-right: 30px;

        @include mq('tablet-2') {
            max-width: 48%;
            margin-right: 20px;
        } 

        @include mq('tablet') {
            max-width: 100%;
            margin-right: 0;
            margin-bottom: 40px;
        }
	}

	&__items {
        @include adaptiv-value("margin-bottom", 60, 30, 1);
	}

	&__item {
		position: relative;
        @include adaptiv-value("padding-left", 54, 40, 1);

		&::before {
			position: absolute;
			top: 3px;
			left: 0;
            @include adaptiv-value("width", 24, 18, 1);
            @include adaptiv-value("height", 24, 18, 1);
			background-image: url('../img/icons/check.svg');
			content: '';
			@include bg-conatin;
		}

		&:not(:last-child) {
            @include adaptiv-value("margin-bottom", 30, 15, 1);
		}
	}

	&__link {
		max-width: fit-content;

        @include mq('tablet') {
            max-width: 100%;
        }
	}

	&__bg {
		width: 100%;
		max-width: 48%;
        @include adaptiv-value("height", 580, 370, 1);
		border-radius: 50px;
		@include bg-cover;

        @include mq('tablet') {
            max-width: 100%;
        }
	}
}
