/* stylelint-disable */

// * colors
$white: #ffffff;
$black: #000000;

$dark-800: #404040;
$grey-600: #777777;
$turquoise-400: #4ba8b4;
$yellow-400: #e1ae54;

// * fonts
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;

$montserrat: 'Montserrat';
