.graph-modal {
	--transition-time: 0.4s;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1000;
	overflow-x: hidden;
	overflow-y: auto;
	text-align: center;
	background-color: rgba($black, 0.7);
	visibility: hidden;
	cursor: pointer;
	opacity: 0;
	transition: opacity var(--transition-time), visibility var(--transition-time);

	&__container {
		@include flex-all-center;
		display: none;
		width: 100%;
		min-height: 100%;
		padding: 20px 0;
		text-align: left;
		cursor: default;

		&.graph-modal-open {
			@include flex-all-center;
			padding: 20px;

			@include mq('tablet') {
				padding: 20px 0;
			}
		}

		@include mq('tablet') {
			max-width: 100%;
		}
	}

	&__box {
		position: relative;
		width: 100%;
		max-width: 700px;
		background-color: $turquoise-400;
		background-color: $turquoise-400;
		@include flex-all-center;
		@include adaptiv-value('padding-bottom', 50, 30, 1);
		@include adaptiv-value('padding-left', 48, 20, 1);
		@include adaptiv-value('padding-right', 48, 20, 1);
		@include adaptiv-value('padding-top', 100, 60, 1);
		@include adaptiv-value('border-radius', 50, 28, 1);
	}

	&__close {
		position: absolute;
		background-image: url('../img/icons/close.svg');
		@include adaptiv-value('right', 54, 20, 1);
		@include adaptiv-value('top', 54, 20, 1);
		@include adaptiv-value('width', 64, 44, 1);
		@include adaptiv-value('height', 64, 44, 1);
		@include bg-conatin;
	}

	&__title {
		color: $white;
		@include adaptiv-value('margin-bottom', 60, 40, 1);

		&::before {
			background-color: $white;
		}
	}

	&__bg {
		max-width: 380px;
		margin: 0 auto;
		@include adaptiv-value('border-radius', 50, 28, 1);
		@include adaptiv-value('height', 387, 300, 1);
		@include bg-cover;
	}

	&.is-open {
		visibility: visible;
		opacity: 1;
		transition: opacity var(--transition-time),
			visibility var(--transition-time);
	}
}

.fade {
	opacity: 0;
	transition: opacity var(--transition-time);

	&.animate-open {
		opacity: 1;
		transition: opacity var(--transition-time);
	}
}

.fadeInUp {
	transform: translateY(-100px);
	opacity: 0;
	transition: transform var(--transition-time), opacity var(--transition-time);

	&.animate-open {
		transform: translateY(0);
		opacity: 1;
		transition: transform var(--transition-time), opacity var(--transition-time);
	}
}
